<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-algaher0805/blob/main/curso2_m%C3%B3dulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis with Python, IBM.

##Módulo 2

###Alejandro García Hernández

###A01793812

En el módulo 2 se introduce el término Pre-procesamiento de datos que básicamente se refiere a la limpieza de los datos.

##Missing values
Nos referimos a missing value cuando, para alguna observación en particular, no se almacenó ningún valor para alguna característica. Generalmente, estos valores aparecen como “?”, “N/A”, 0 como celdas vacías.

Existen diferentes maneras para lidiar con la información faltante:

* Intentar obtener la información faltante de la fuente original.
* Eliminar los renglones en donde exista información de alguna de sus columnas (características), o incluso, si en alguna de las características la mayoría de la información está vacía, podríamos optar por eliminar la columna completa.
* Imputar los datos faltantes. Si bien con esta opción no se pierde información del resto de las columnas, también estamos agregando información estimada a nuestra base de datos.
 * Para variables númericas, se puede sustituir los valores faltantes por el promedio de la columna completa.
 * Para variables categoricas, se puede sustituir los valores faltantes por la moda de la columna completa.
 * También podemos sustituir las variables vacías con base en algún otro criterio, por ejemplo haciendo validaciones cruzadas con otras características.

In [23]:
#Pandas tiene funciones útiles para eliminar o para reemplazar valores faltantes
import pandas as pd
import numpy as np
archivo = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
nombres = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df = pd.read_csv(archivo, names = nombres)
df.head()
#aquí se observa que al menos normalized-losses tiene valores faltantes

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [24]:
#Podemos observar que los valores faltantes de este archivo están representados por "?", por lo que primero reemplazamos este valor por NaN y después
#vemos cuales campos contienen valores faltantes

df.replace('?', np.nan, inplace = True)
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [25]:
#Se observa que normalized-losses contiene 41 missing, así que sustituimos ahora los valores faltantas
#primero, aunque con la función head se observa que ese campo tiene valores numericos, al obtener el tipo de datos de los campos
#se observa que este campo se cargo como tipo objeto por lo que al calcular la media tendremos que convertirlo a float
print(df.dtypes)
prom_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("los valores faltantes de normalized-losses se sustituira por el valor de la media:", prom_norm_loss)
df["normalized-losses"].replace(np.nan, prom_norm_loss, inplace = True)

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object
los valores faltantes de normalized-losses se sustituira por el valor de la media: 122.0

In [26]:
#corroboramos que efectivamente ya no haya valores faltantes en normalized-losses
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [27]:
#otra función útil de pandas es dropna, aquí vamos a eliminar los 4 renglones completos cuyo valor de bore es missing
df.dropna(subset=["bore"], axis=0, inplace=True)
#corroboramos que efectivamente se hayan eliminado estos renglones
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64