<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-algaher0805/blob/main/modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En el módulo 2 del cuso se comienza hablando de tuplas y listas, los elementos de las tuplas se definen entre paréntesis, también, tuplas tienen índices con los cuales se puede acceder o hacer referencia a cada elemento de una tupla, además la tupla puede contener cualquier tipo de datos.

In [ ]:
x=(9, "Alex", 0.23, 35)
x

(9, 'Alex', 0.23, 35)

Al igual que con las cadenas de texto como se vio en el primer módulo, se puede extraer solo ciertas partes de las tuplas

In [ ]:
#Ojo, en el segundo elemento se agrega el siguiente número mayor del índice que queramos traer (en el ejemplo de abajo se extraen los elementos
#guardados en los lugares 0 y 1 de la tupla, pero al hacer referencia se pone 2 en lugar de 1)
x[0:2]

(9, 'Alex')

In [ ]:
#también podemos acceder a los elementos de las tuplas en orden inverso
x[-1]

35

las tuplas también pueden ser elementos de otra tupla

In [ ]:
x=(3,6,0,8,4,("a",3,23))
x

(3, 6, 0, 8, 4, ('a', 3, 23))

In [ ]:
#en este ejemplo, al hacer referencia al 6to elemento de la tupla obtendremos una tupla
x[5]

('a', 3, 23)

In [ ]:
#En el ejemplo anterior, cuando queremos acceder a un elemento de una tupla anidada dentro de otra, se tiene que hacer referencia con un doble índice
x[5][2]
#El primer índice nos dice que se accederá al 6to elemento de la tupla "x", y una vez dentro de la tupla ("a",3,23) se accederá al tercer elemento

23

Finalmente las tuplas se pueden concatenar

In [ ]:
y=x[5][0:2]
z=x+y
z

(3, 6, 0, 8, 4, ('a', 3, 23), 'a', 3)

En este módulo nos explican también las listas, la primer diferencia con respecto de las tuplas es que los elementos de las listas están entre corchetes y no entre paréntesis.

In [ ]:
# como se observa, uno de los elementos de una lista puede ser una tupla
x=[3,6,0,8,4,("a",3,23)]
x

[3, 6, 0, 8, 4, ('a', 3, 23)]

A diferencia de las tuplas, las listas si pueden modificarse.

In [ ]:
#con extend podemos agregar elementos de manera individual al final de la lista
x.extend([1,8])
x

[3, 6, 0, 8, 4, ('a', 3, 23), 1, 8]

In [ ]:
#con append, agregamos un solo elemento al final de la lista
x.append([1,8])
x

[3, 6, 0, 8, 4, ('a', 3, 23), 1, 8, [1, 8]]

In [ ]:
#podemos también reemplazar los valores de las listas
x[5]="nuevo"
x

[3, 6, 0, 8, 4, 'nuevo', 1, 8, [1, 8]]

In [ ]:
# y también eliminar elementos
del(x[0:2])
x

[0, 8, 4, 'nuevo', 1, 8, [1, 8]]

OJO ¿, en las listas, si hacemos una "copia" de la lista x (y=x) en realidad ambas listas hacen referencia a los mismos elementos así que al cambiar un elemento de x también se cambiará en y

In [ ]:
y=x
y[1]

8

In [ ]:
x[1]="cuidado"
y[1]

'cuidado'

Esto puede generar errores costosos, por lo que hay que tener en cuenta que si lo que queremos es hacer una copia de la lista x para trabajarla de manera independiente entonces la sintaxis sería la siguiente

In [ ]:
y=x[:]
y[1]

'cuidado'

In [ ]:
x[1]="ojo"
y[1]

'cuidado'

Otro punto que se muestra en el módulo 2 es el uso de set. La primer diferencia con respecto a las listas y tuplas es que los elementos de un set se encuentra entre llaves {}, otra diferencia es que en un set no puede haber elementos repetidos

In [31]:
x={1,2,3,4,5,7,8,8,8}
x

{1, 2, 3, 4, 5, 7, 8}

In [32]:
#también podemos convertir listas o tuplas a un set
y=[1,2,3,4,5,7,8,8,8]
y

[1, 2, 3, 4, 5, 7, 8, 8, 8]

In [33]:
#Como se observa, en la lista el número 8 se encuentra repetido 3 veces pero al convertlo en set apare únicamente 1 vez
x=set(y)
x

{1, 2, 3, 4, 5, 7, 8}

In [39]:
#para agregar elementos a un set utilizamos el comando add
x.add(9)
x

{1, 2, 3, 4, 5, 7, 8, 9}

In [40]:
#si agregamos algún elemento que ya existe no veremos ningún cambio en el set
x.add(1)
x

{1, 2, 3, 4, 5, 7, 8, 9}

In [41]:
#También podemos remover elementos
x.remove(1)
x

{2, 3, 4, 5, 7, 8, 9}

In [45]:
#Podemos corroborar si algún valor está dentro del set
3 in x

True

In [48]:
#generar la intersección de dos sets
x={1,2,3}
y={3,4,5}
z=x & y
z

{3}

In [49]:
#generar la unión cción de dos sets
x={1,2,3}
y={3,4,5}
z=x | y
z

{1, 2, 3, 4, 5}

In [50]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

Finalmente en el módulo 2 se introduce el concepto de los diccionarios

In [51]:
#básicamente son tal cuál diccionarios de variables que tal vez tengamos codificadas
x={"a":1, "b":2, "c":3}
x["c"]

3

In [52]:
#podemos ver los valores de las llaves
x.keys()

dict_keys(['a', 'b', 'c'])

In [53]:
#o los valores asosiadas a las llaves
x.values()

dict_values([1, 2, 3])

In [56]:
#agregar nuevos valores
x["d"]=4
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [57]:
#borrar elementos
del(x["a"])
x.keys()

dict_keys(['b', 'c', 'd'])

In [58]:
#y finalmente checar la existencia de algún valor dentro del diccionario
"a" in x

False